# syntax:
# - space-separated blocks of special character and number combinations
# - block order:
#   - minute
#   - hour
#   - day of month
#   - month
#   - day of week
# - symbols:
#   * Wildcard, specifies every possible time interval
#   , List multiple values separated by a comma.
#   - Specify a range between two numbers, separated by a hyphen
#   / Specify a periodicity/frequency using a slash 
0 */3 * * * /usr/local/bin/rsync-inc-backup.sh ~/ "$BACKUP_HOST" "$BACKUP_HOST_DIR"
